.sequence {
	display: flex;
	flex-direction: column;
	padding: 3rem 6rem 3rem 3rem;

	gap: 3.5rem;

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&-select {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}
}

@media (max-width: 1048px) {
	.sequence {
		padding: 3rem;
	}
}

@media (max-width: 600px) {
	.sequence {
		&-header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 0.8rem;
		}
	}
}
