.stuff {
    --border-radius: 1.66rem 0 1.66rem 0;
    --gap: 4rem;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
	padding: 2.5rem 3rem 0;


	&-nav {
		display: flex;
		justify-content: space-between;
		gap: var(--gap);
	}

	&-filters {
		display: flex;
		gap: 2.5rem;
	}

	&-label {
		position: relative;
		font-size: 1.5rem;
		font-weight: 500;
		padding: 0.8rem 1.6rem;
		cursor: pointer;
		color: rgb(var(--color-black));
		border: 2px solid transparent;
		border-radius: 2rem;
		transition: all 0.2s;

		&:hover {
			color: rgb(var(--accent-color));
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			height: 2px;

			background-color: rgb(var(--color-black));
			bottom: 12%;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.2s;
		}

		input:checked + & {
			color: rgb(var(--accent-color));
			&::before {
				background-color: rgb(var(--accent-color));
				width: 2rem;
			}
		}

		input:focus-visible + & {
			color: rgb(var(--color-white));
			border: 2px solid rgb(var(--accent-color));
			background-color: rgba(var(--accent-color), 0.5);
		}
	}
	input[type="radio"] {
		position: absolute;
		width: 0;
		height: 0;
		outline: none;
	}

	.table {
		&-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
			padding-bottom: var(--gap);
        }
	}
}


@media (max-width: 1048px) {
	.stuff {
		.table-container{
			display: grid;
			justify-items: center;
			grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
			gap: 1.5rem;
		}
	}
}

@media (max-width: 25rem) {
	.stuff {
		.table{

			&-container {
				grid-template-columns: 1fr;
			}

			&-data{
				font-size: 4vw;
			}
		}

	}
}

@media (max-width: 768px) {
	.stuff {
		&-nav {
			flex-direction: column;
		}
		&-filters{
			gap: 0.5rem;
			flex-direction: column;
			align-items: center;
		}
	}
}
